<%content_for :javascripts do %>
  <!-- <script type="text/javascript" src="/assets/posts.js"></script> -->
  <%= javascript_include_tag 'follow_requests' %>
<% end %>
<h1>Listing Follow Requests</h1>

<% @requests.each do |request| %>
  <div class="row" id="request-div-<%= request.id %>">
    <div class="col-xs-6">  
      <div class="well well-lg">  
         	
         <div>
         	<% follower = User.find(request.request_follower_id)%>
         	<%= link_to "#{follower.username}" , user_path(follower) %>

   			 <button data-request-id="<%= request.id %>"  class="accept-btn btn btn-xs btn-primary" style="margin-left: 30px">Accept</button>

         </div>

      </div>   
    </div>
  </div>

<% end %>